table.list
{
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}
table.list td, th
{
    padding: 3px;
    border: 1px solid black;
}
h1.list-title
{
    text-align: center;
}
.pagination > span
{
    margin-left: 2px;
    margin-right: 2px;
}
p.error
{
    color: #FF0000;
}