<?xml version="1.0"?>
<config>
    <modules>
        <Alex_ProductsWidget>
            <version>1.0.1</version>
        </Alex_ProductsWidget>
    </modules>
    <global>
        <blocks>
            <productswidget>
                <class>Alex_ProductsWidget_Block</class>
            </productswidget>
        </blocks>
        <models>
            <updateprice>
                <class>Alex_UpdatePrice_Model</class>
            </updateprice>
        </models>
        <helpers>
            <productswidget>
                <class>Alex_ProductsWidget_Helper</class>
            </productswidget>
        </helpers>
        <resources>
            <alex_productswidget_setup>
                <setup>
                    <module>Alex_ProductsWidget</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </alex_productswidget_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <alex_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>Alex_ProductsWidget_Model_Observer</class>
                        <method>addIsTopColumn</method>
                    </alex_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_product_collection_load_before>
                <observers>
                    <alex_catalog_product_collection_load_before>
                        <type>singleton</type>
                        <class>Alex_ProductsWidget_Model_Observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </alex_catalog_product_collection_load_before>
                </observers>
            </catalog_product_collection_load_before>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <productswidget>
                    <file>top3.xml</file>
                </productswidget>
            </updates>
        </layout>
    </frontend>
</config>