<?xml version="1.0"?>
<config>
    <modules>
        <Alex_LikeIcon>
            <version>1.0.0</version>
        </Alex_LikeIcon>
    </modules>
    <global>
        <blocks>
            <alex_likeicon>
                <class>Alex_LikeIcon_Block</class>
            </alex_likeicon>>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <likeicon>
                    <file>likeicon.xml</file>
                </likeicon>
            </updates>
        </layout>
    </frontend>
</config>