<?xml version="1.0"?>
<config>
    <modules>
        <Alex_Test>
            <version>1.0.0</version>
        </Alex_Test>
    </modules>
    <global>
        <blocks>
            <test>
                <class>Alex_Test_Block</class>
            </test>
        </blocks>
        <models>
            <test>
                <class>Alex_Test_Model</class>
            </test>
        </models>
    </global>
</config>