<?xml version="1.0"?>
<config>
    <modules>
        <Alex_UpdatePrice>
            <version>1.0.0</version>
        </Alex_UpdatePrice>
    </modules>
    <global>
        <helpers>
            <alex_updateprice>
                <class>Alex_UpdatePrice_Helper</class>
            </alex_updateprice>
        </helpers>
        <price_mass_action>
            <operations>
                <addition>
                    <class>Alex_UpdatePrice_Model_UpdateStrategy_Addition</class>
                    <label>Add to price</label>
                </addition>
                <subtraction>
                    <class>Alex_UpdatePrice_Model_UpdateStrategy_Subtraction</class>
                    <label>Subtract from price</label>
                </subtraction>
                <addPercent>
                    <class>Alex_UpdatePrice_Model_UpdateStrategy_AddPercent</class>
                    <label>Add percent to price</label>
                </addPercent>
                <subtractPercent>
                    <class>Alex_UpdatePrice_Model_UpdateStrategy_SubtractPercent</class>
                    <label>Subtract percent from price</label>
                </subtractPercent>
                <multiplication>
                    <class>Alex_UpdatePrice_Model_UpdateStrategy_Multiplication</class>
                    <label>Multiplicate price</label>
                </multiplication>
            </operations>
        </price_mass_action>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <alex_core_block_abstract_prepare_layout_before>
                        <type>singleton</type>
                        <class>Alex_UpdatePrice_Model_Observer</class>
                        <method>addMassAction</method>
                    </alex_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <alex_updateprice before="Mage_Adminhtml">Alex_UpdatePrice_Adminhtml</alex_updateprice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>