<?xml version="1.0"?>
<config>
    <modules>
        <Alex_ShippingCost>
            <version>1.0.1</version>
        </Alex_ShippingCost>
    </modules>
    <global>
        <blocks>
            <sales>
                <rewrite>
                    <order_totals>Alex_ShippingCost_Block_Totals</order_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Alex_ShippingCost_Block_Adminhtml_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Alex_ShippingCost_Block_Adminhtml_InvoiceTotals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Alex_ShippingCost_Block_Adminhtml_CreditmemoTotals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <shippingcost>Alex_ShippingCost_Block</shippingcost>
        </blocks>
        <helpers>
            <shippingcost>
                <class>Alex_ShippingCost_Helper</class>
            </shippingcost>
        </helpers>
        <resources>
            <alex_shippingcost_setup>
                <setup>
                    <module>Alex_ShippingCost</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </alex_shippingcost_setup>
        </resources>
        <sales>
            <quote>
                <totals>
                    <shippingcost>
                        <class>Alex_ShippingCost_Model_ShippingCost</class>
                    </shippingcost>
                </totals>
                <item>
                    <product_attributes>
                        <additional_shipping_cost />
                    </product_attributes>
                </item>
            </quote>
            <order_invoice>
                <totals>
                    <shippingcost>
                        <class>Alex_ShippingCost_Model_ShippingCostInvoice</class>
                    </shippingcost>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <shippingcost>
                        <class>Alex_ShippingCost_Model_ShippingCostCreditmemo</class>
                    </shippingcost>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <additional_shipping_cost>
                    <to_order_item>*</to_order_item>
                </additional_shipping_cost>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <additional_shipping_cost>
                    <to_quote_item>*</to_quote_item>
                </additional_shipping_cost>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <alex_shippingcost>
                        <type>singleton</type>
                        <class>Alex_ShippingCost_Model_Observer</class>
                        <method>salesQuoteItemSetAdditionalShippingCost</method>
                    </alex_shippingcost>
                </observers>
            </sales_quote_item_set_product>
            <!--<core_block_abstract_to_html_before>-->
                <!--<observers>-->
                    <!--<alex_shippingcost_setshippingcost>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Alex_ShippingCost_Model_Observer</class>-->
                        <!--<method>coreBlockAbstractToHtmlBefore</method>-->
                    <!--</alex_shippingcost_setshippingcost>-->
                <!--</observers>-->
            <!--</core_block_abstract_to_html_before>-->
            <!--<sales_order_item_collection_load_after>-->
                <!--<observers>-->
                    <!--<alex_shippingcost_getshippingcost>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Alex_ShippingCost_Model_Observer</class>-->
                        <!--<method>salesOrderItemCollectionLoadAfter</method>-->
                    <!--</alex_shippingcost_getshippingcost>-->
                <!--</observers>-->
            <!--</sales_order_item_collection_load_after>-->
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <alex_shippingcost before="Mage_Adminhtml">Alex_ShippingCost_Adminhtml</alex_shippingcost>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>