<?xml version="1.0"?>
<config>
    <modules>
        <Alex_Blog>
            <version>1.0.1</version>
        </Alex_Blog>
    </modules>
    <global>
        <blocks>
            <blog>
                <class>Alex_Blog_Block</class>
            </blog>
        </blocks>
        <models>
            <blog>
                <class>Alex_Blog_Model</class>
                <resourceModel>blog_resource</resourceModel>
            </blog>
            <blog_resource>
                <class>Alex_Blog_Model_Resource</class>
                <entities>
                    <post>
                        <table>blog_posts</table>
                    </post>
                    <blog_post>
                        <table>blog_posts_product</table>
                    </blog_post>
                    <product>
                        <table>catalog_product_entity</table>
                    </product>
                    <customer>
                        <table>customer_entity</table>
                    </customer>
                </entities>
            </blog_resource>
        </models>
        <resources>
            <alex_blog_setup>
                <setup>
                    <module>Alex_Blog</module>
                </setup>
            </alex_blog_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Alex_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
    </frontend>
</config>